
	.btn-wrapper{
		height: 60vh;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.btn{
		border: none;
		border-radius: 20px;
		min-width: 120px;
		padding: 7px;
		color: #fff;
		font-size: 14px;
		background-color: #000000;
		cursor: pointer;
	}
	.btn:active,
	.btn:focus{
		outline: none;
	}

  .blue {
    background-color: blue;
  }
  .black {
	background-color: #000000;
  }


  /* .lights {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lights div {
    border: 1px solid #000;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: grey; */
/* } */ 
/* .red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
} */
